node_modules/
.env
.DS_Store
*.log
dist/
.eslintrc.json
.prettierrc.json
logs/
.vercel
.env*.local
{
  "version": 2,
  "builds": [
    { "src": "api/index.js", "use": "@vercel/node" }
  ],
  "routes": [
    { "src": "/(.*)", "dest": "api/index.js" }
  ]
}
